<!DOCTYPE html>
<html lang='es'>
    <head> 
        <meta charset='utf-8'>
        <title>{% block titulo %}Panaderia | {% block sub_titulo %}{% endblock %}{% endblock %}</title>
        <link rel='stylesheet' href='/static/css/bootstrap.css'>
        <link rel='stylesheet' href='/static/css/bootstrap-responsive.css'>
        <link rel="stylesheet" type="text/css" href="/static/css/print.css" media="print" />
        <link rel='shortcut icon' href='/static/img/pan.png'>
        {% block style_css %}{% endblock %}
        <script src='/static/js/jquery-1.7.2.min.js'></script>
        <script src='/static/js/bootstrap.js'></script>
        <script src='/static/js/custom.js'></script>
        {% block js %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
<body>
    <header class='container'>
        <div class='page-header'>
            <nav class='navbar navbar-inverse navbar-fixed-top'>
                <div class='navbar-inner'>
                    <div class='container'>
                        <a class="brand" href="/">PANADERIA</a>
                        <ul class='nav'>
                            <li class='{% block active0 %}{% endblock %}'><a href='/operaciones/'><i class='icon-home icon-white'></i></a></li>
                            <li class='{% block active1 %}{% endblock %}'><a href='/almacen/'>Almacen</a></li>
                            <li class='{% block active2 %}{% endblock %}'><a href='/reporte/'>Reportes</a></li>
                            <li class='{% block active3 %}{% endblock %}'><a href='/tipos_de_pan/'>Tipos de pan</a></li>
                            <li class='{% block active4 %}{% endblock %}'><a href='/stock_actual/'>Stock Actual</a></li>
                            <li class='{% block active5 %}{% endblock %}'><a href='/egreso/'>Nuevo Egreso</a></li>
                            <li class='{% block active6 %}{% endblock %}'><a href='/ventas/'>Ventas</a></li>
                            <li><button class="btn" onclick='imprime();'><i class='icon-print'></i> Imprimir</button></li>
                        </ul>
                        <!--
                            <form class="navbar-search pull-left">
                                <input type="text" class="search-query" placeholder="Buscar">
                            </form>
                        -->
                        <ul class='nav pull-right'>
                        {% if user.is_authenticated %}
                            <li><a href="/operaciones/">{{ user.username|capfirst }}</a></li>
                            <li><a href="/logout/">Salir</a></li>
                        {% else %}
                            <li><a href="/login/">Ingresar</a></li>
                        {% endif %}
                        </ul>   
                    </div>
                </div>
            </nav>
        </div>
    </header> 
    <section class='container container-fluid' id='datos'>
        <div class='row-fluid'>
            <div class='span12 hero-unit' id='contenido'>
                {% block section1 %}{% endblock %}
            </div>
        </div>
    </section>
    <hr>
    <footer class='container'>
        <div class='page-footer'><p>JAP-Team - &copy;2013</p></div>
    </footer>

</body>
</html>
