{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block sub_titulo %}Cambiar contraseña{% endblock %}
{% block active0 %}active{% endblock %}
{% block section1 %}
	<h2>Cambiar contraseña</h2>
	<hr>
	{% if error %}
        <p style='text-align: center; color:red'>{{msg}}</p>
    {% endif %}
    <form action='' method='post'>{% csrf_token %}
        {{formu|as_bootstrap}}
        <button class="btn btn-large btn-primary" type="submit">Guardar</button>
        <a class='btn btn-large' href="/operaciones/">Cancelar</a>
    </form>
{% endblock %}
